.movie-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;

    .item {
        display: flex;
        flex-direction: column;
        height: 300px;
        border-radius: 10px;
        &:hover {
           //background-color: rgb(156, 151, 140);
        }

        > img {
            width: 300px;
            height: 300px;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}